@model IEnumerable<RealEstateProject.Models.Agency>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


@if (!((User.IsInRole("Admin") || User.IsInRole("Standard User") || User.IsInRole("Agent"))))
{
    <div class="container">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">Alert!</h5>
                <p class="card-text">Please Register or Sign in to See full Details</p>
            </div>
        </div>
    </div>
   
}
@if (User.IsInRole("Admin"))
{
    <div class="container mb-3 d-flex flex-row">
        <a href="~/Agencies/Create" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Add new Agency </a>
    </div>
}
<div class="container mb-3 d-flex flex-row">
    <div class="row mb-2">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Agency:</strong>
                        <h3 class="mb-0">@item.CompanyName</h3>


                        <strong class="d-inline-block mb-2 text-primary-emphasis">@item.Phone</strong>

                        <div class="mb-1 text-body-secondary">@item.Email</div>

                        <p class="card-text mb-auto">@item.Address</p>


                        <div class="d-flex justify-content-start">
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="~/Agencies/Edit/@item.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: white; width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                    </svg>
                                </a>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Standard User") || User.IsInRole("Agent"))
                            {
                                <a href="~/Agencies/Details/@item.Id" class="btn btn-primary" style="background-color: cornflowerblue; border-color: cornflowerblue; color: white; width: 3em; margin-right: 0.2em">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-blockquote-left" viewBox="0 0 16 16">
                                        <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm.79-5.373q.168-.117.444-.275L3.524 6q-.183.111-.452.287-.27.176-.51.428a2.4 2.4 0 0 0-.398.562Q2 7.587 2 7.969q0 .54.217.873.217.328.72.328.322 0 .504-.211a.7.7 0 0 0 .188-.463q0-.345-.211-.521-.205-.182-.568-.182h-.282q.036-.305.123-.498a1.4 1.4 0 0 1 .252-.37 2 2 0 0 1 .346-.298zm2.167 0q.17-.117.445-.275L5.692 6q-.183.111-.452.287-.27.176-.51.428a2.4 2.4 0 0 0-.398.562q-.165.31-.164.692 0 .54.217.873.217.328.72.328.322 0 .504-.211a.7.7 0 0 0 .188-.463q0-.345-.211-.521-.205-.182-.568-.182h-.282a1.8 1.8 0 0 1 .118-.492q.087-.194.257-.375a2 2 0 0 1 .346-.3z" />
                                    </svg>

                                </a>
                            }


                            @if (User.IsInRole("Admin"))
                            {
                                <a href="~/Agencies/Delete/@item.Id" class="btn btn-danger" style="width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />

                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#262637" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
