<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar bg-light mb-0">
        <div class="container">
            <img height="90" src="https://graphicsfamily.com/wp-content/uploads/edd/2020/04/house-apartment-logo-green-Transparent-1.png"/>
           @* @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Properties", "Index", "Properties/Index", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Agent"))
                    {
                        <li>@Html.ActionLink("Images", "Index", "Images/Index", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("Agencies", "Index", "Agencies/Index", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add Agent to Agency", "Index", "Agencies/AddAgentToAgency", new { area = "" }, new { @class = "nav-link" })</li>
                    }


                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav> 

    <div class="container-fluid ps-0">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application, Created by Vladimir Grncharovski</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
